.notification-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
    border-top: solid 1px var(--color-separator);

    &:hover {
        background-color: #efecec;
    }

    .left-content {
        display: flex;
        flex-direction: column;


        .top-content {
            display: flex;
            align-items: center;
            margin-bottom: 5px;

            .user-avatar {
                border-radius: 50%;
                width: 35px;
                height: 35px;
            }
        }

        .notification-icon {
            margin-right: 10px;
        }

        .details {
            margin-left: 34px;
        }

        .user-name {
            font-weight: 550;
            margin-right: 3px;
        }
    }

    .right-content {
        .time-ago {
            font-size: 12px;
            color: var(--color-text-secondary);
        }
    }
}