<div class="profile-header">
    <div class="left-content">
        <a routerLink="/search" class="back-icon">
            <svg-icon [Src]="BackIconUrl" [ContentStyle]="IconStyle"></svg-icon>
        </a>
        <span class="profile-title">Profil</span>
    </div>
    <div class="right-content">
        <div class="more-button" matRipple [matMenuTriggerFor]="menu">
            <svg-icon [Src]="MoreIconUrl" [ContentStyle]="IconStyle"></svg-icon>
        </div>
    </div>
</div>

<mat-menu #menu xPosition="before">
    <user-actions-menu [UserId]="UserId"></user-actions-menu>
</mat-menu>