<div class="complete-criterias">
    <div class="items-container">
        <div class="select-item">
            <div class="title-container">
                <span class="title">Quels sont tes centres d'intéret ?</span>
            </div>
            <div class="validation-input-container">
                <interest-tags-selector [SelectedTags]="Tags" (SelectedTagsChange)="handleSelectedTagsChange($event)"></interest-tags-selector>
            </div>
            <div class="next-button">
                <matcha-button Label="Suivant" (OnClick)="handleSubmit()"></matcha-button>
            </div>
        </div>
    </div>
</div>