<div class="profile-viewers">
    <span class="title">Vues du profil</span>
    <div class="viewers-container">
        <div class="viewer-item" *ngFor="let view of Views">
            <div class="left-content">
                <div class="viewer-photo-container">
                    <img class="viewer-photo" [src]="view.avatar" (click)="redirectToProfile(view)">
                </div>
                <div class="viewer-info">
                    <span class="viewer-name" (click)="redirectToProfile(view)">{{ view.name }}</span>
                    <span class="viewer-date">{{ view.time_ago }}</span>
                </div>
            </div>
        </div>
        <div class="no-views" *ngIf="Views.length === 0">
            <span class="no-views-text">Aucune vue pour le moment</span>
        </div>
    </div>
</div>