.profile-viewers {
    background-color: var(--background-color-accent);
    border-radius: 10px;

    .title-container {
        padding: 20px;

        .title {
            font-size: 14px;
            font-weight: 550;
        }
    }

    .viewers-container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        .viewer-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            padding: 10px 20px;
            border-top: solid 1px var(--color-separator);

            &:nth-last-child(1) {
                margin-bottom: 0px;
            }

            &:hover {
                cursor: pointer;
                background-color: #eeeaea;
            }

            .left-content {
                align-items: center;
                display: flex;

                .viewer-photo {
                    border-radius: 25px;
                    height: 50px;
                    width: 50px;
                    margin-right: 15px;
                }

                .viewer-info {
                    display: flex;
                    flex-direction: column;

                    .viewer-name {
                        font-weight: 550;
                    }

                    .viewer-date {
                        font-size: 14px;
                        color: var(--color-text-secondary);
                    }
                }
            }

            .right-content {
                .heart-icon {
                    fill: var(--color-pink-accent);
                }
            }
        }

        .no-views {
            padding: 20px;
        }
    }
}

@media screen and (max-width: 600px) {
    .profile-viewers {
        padding: 15px;

        .viewers-container {
            margin-top: 15px;
        }
    }
}