.profile-viewers {
    padding: 20px;
    background-color: var(--background-color-accent);
    border-radius: 10px;

    .title {
        font-size: 14px;
        font-weight: 550;
    }

    .viewers-container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 25px;

        .viewer-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;

            &:nth-last-child(1) {
                margin-bottom: 0px;
            }
            
            .left-content {
                align-items: center;
                display: flex;
                .viewer-photo {
                    border-radius: 25px;
                    height: 50px;
                    width: 50px;
                    margin-right: 15px;
                }
                .viewer-info {
                    display: flex;
                    flex-direction: column;
    
                    .viewer-name {
                        font-weight: 550;
                    }
    
                    .viewer-date {
                        font-size: 14px;
                        color: var(--color-text-secondary);
                    }
                }
            }
            .heart-icon {
                fill: var(--color-pink-accent);
            }
        }
    }
}