.forgot-password-form-container {
    padding: 20px;
    padding-bottom: 10px;
    border-radius: 15px;
    width: 400px;

    background-color: var(--background-color-accent);

    .forgot-password-form-head {
        display: flex;
        align-items: center;
        flex-direction: column;

        .logo-container {
            display: flex;
            align-items: center;

            font-weight: 550;
            color: var(--title-color);

            .app-title {
                padding: 0px 5px;
            }

            .heart-icon {
                fill: var(--title-color);
            }
        }

        .title-container {
            padding: 20px;
            font-size: 22px;
            font-weight: 550;
        }

        .subtitle-container {
            padding: 0px 20px;
            padding-bottom: 20px;
            font-size: 14px;
            color: var(--color-text-secondary);
            text-align: center;
        }
    }

    .forgot-password-form {
        display: flex;
        flex-direction: column;

        padding: 0px 50px;

        .input-container {
            padding-bottom: 10px;
        }

        .error-message {
            padding-left: 10px;
            font-size: 12px;
            color: red;
        }

        .invalid-credentials {
            padding: 7px 10px;
            background-color: var(--color-pink-background);
            border-radius: 10px;
            border: solid 1px red;
        }

        .actions {
            display: flex;
            justify-content: center;
            padding-top: 10px;
            align-items: center;

            .back-button-container {
                padding: 10px;

                .back-button {
                    text-decoration: none;
                    color: var(--title-color);
                    font-size: 14px;
                    font-weight: 550;
                }
            }
        }
    }
}

@media screen and (max-width: 460px) {
    .forgot-password-form-container {
        width: 300px;

        .forgot-password-form {
            padding: 0px 30px;
        }
    }
}
