<div class="user-profile-card" *ngIf="Profile">
    <div class="left-content">
        <div *ngIf="Loading" class="profile-image skeleton"></div>
        <img *ngIf="!Loading" class="profile-image" [src]="Profile.avatar" alt="User profile image" />
    </div>
    <div class="right-content">
        <div class="header-content">
            <div class="left-header-content">
                <div class="user-name-container">
                    <div class="user-name-container">
                        <span class="user-name">{{ Profile?.name }}, {{ Profile?.age }}</span>
                        <div class="dot" [ngClass]="Profile.online ? 'online' : 'offline'" [matTooltip]="
                            Profile.online ? 'En ligne' : 'Dernière connection il y a 20 minutes'
                            " matTooltipPosition="above"></div>
                    </div>
                    <div class="user-status" [class.online]="Profile.online"></div>
                </div>
                <div class="user-location-container">
                    <svg-icon class="user-location-icon" [Src]="LocationIconUrl"
                        [ContentStyle]="IconStyle"></svg-icon>
                    <span class="user-location">{{ Profile.city + ', ' + Profile.country }}</span>
                </div>
                <div class="fame-rating-container">
                    <svg-icon class="fame-rating-icon" [Src]="FameRatingIconUrl"
                        [ContentStyle]="IconStyle"></svg-icon>
                    <span class="fame-rating">{{ Profile.fameRating }}</span>
                </div>
            </div>
            <div *ngIf="IsOtherUser" class="right-header-content">
                <div class="likes-you-badge" *ngIf="LikedYou">
                    <span>{{ Liked ? 'Match' : 'Likes You'}}</span>
                </div>
                <like-button [Liked]="Liked" (LikeStatusChanged)="handleLikeStatusChanged($event)"></like-button>
            </div>
        </div>
        <div class="user-bio-container">
            <span class="user-bio">{{ Profile?.bio }}</span>
        </div>
        <interest-tags-list [Tags]="Profile?.tags"></interest-tags-list>
    </div>
</div>