.user-profile-card {
    background-color: var(--background-color-accent);
    display: flex;
    border-radius: 10px;
    height: 250px;

    .left-content {
        width: 250px;

        .profile-image {
            height: 100%;
            width: 250px;
            border-radius: 10px 0px 0px 10px;
        }
    }

    .right-content {
        width: 100%;
        padding: 15px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .header-content {
            display: flex;
            justify-content: space-between;

            .left-header-content {
                .user-name-container {
                    display: flex;
                    align-items: center;

                    .user-name {
                        font-size: 20px;
                        font-weight: 550;
                    }

                    .dot {
                        margin-left: 7px;
                        height: 10px;
                        width: 10px;
                        border-radius: 50%;

                        &.online {
                            background-color: limegreen;
                        }

                        &.offline {
                            background-color: red;
                        }
                    }
                }

                .user-location-container {
                    display: flex;
                    margin-top: 10px;
                    color: var(--color-text-secondary);
                    font-size: 14px;

                    .user-location-icon {
                        fill: var(--color-text-secondary);
                        margin-right: 5px;
                    }
                }

                .fame-rating-container {
                    display: flex;
                    margin-top: 10px;
                    color: var(--color-text-secondary);
                    font-size: 14px;

                    .fame-rating-icon {
                        fill: #dddb12;
                        margin-right: 5px;
                    }
                }
            }

            .right-header-content {
                display: flex;
                height: fit-content;

                .likes-you-badge {
                    background-color: var(--title-color);
                    padding: 5px 10px;
                    border-radius: 10px;
                    color: #ffffac;
                    font-weight: 550;
                    margin-right: 10px;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .user-profile-card {
        height: 150px;

        .left-content {

            .profile-image {
                height: 150px;
                width: 150px;
            }
        }

        .right-content {
            padding: 10px;

            .header-content {
                .user-name-container {
                    font-size: 18px;
                }

                .user-location-container {

                    margin-top: 5px;

                    .user-location {
                        font-size: 12px;
                    }

                    .user-location-icon {
                        width: 12px;
                        height: 12px;
                        margin-right: 5px;
                    }
                }

            }
            .user-bio {
                font-size: 12px;
            }
        }
    }
}