<div class="profile-page">
    <div class="left-content">
        <div class="profile-item-container">
            <user-profile-card [UserId]="UserId"></user-profile-card>
        </div>
        <div class="profile-item-container">
            <user-photos></user-photos>
        </div>
        <div class="profile-item-container">
            <user-about></user-about>
        </div>
    </div>
    <div class="right-content">
        <div class="profile-item-container">
            <profile-viewers></profile-viewers>
        </div>
        <div class="profile-item-container">
            <profile-likes></profile-likes>
        </div>
    </div>
</div>