<div class="profile-page">
    <div class="left-content">
        <div class="profile-item-container">
            <user-profile-card [ProfileCard]="ProfileCard" [Loading]="Loading"></user-profile-card>
        </div>
        <div class="profile-item-container">
            <user-photos [Profile]="ProfileCard?.profile"></user-photos>
        </div>
        <div class="profile-item-container">
            <user-about [ProfileCard]="ProfileCard"></user-about>
        </div>
    </div>
    <div class="right-content">
        <div class="profile-item-container">
            <profile-viewers></profile-viewers>
        </div>
        <div class="profile-item-container">
            <profile-likes></profile-likes>
        </div>
    </div>
</div>