.search-bar {

    color: var(--color-pink-accent);
    background-color: var(--color-pink-background);
    border-radius: 20px;
    width: 250px;

    display: flex;
    align-items: center;

    .search-icon {
        margin-left: 10px;
        fill: var(--color-pink-accent);
    }

    .search-input {
        border: none;
        background-color: inherit;
        color: inherit;
        border-radius: 20px;
        padding: 12px;
        padding-left: 5px;

        width: 100%;

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: inherit;
        }
    }
}