<div class="profile-likes">
    <span class="title">Likes du profil</span>
    <div class="likes-container" *ngIf="Likes">
        <div class="like-item" *ngFor="let like of Likes">
            <div class="left-content">
                <div class="like-photo-container">
                    <img class="like-photo" [src]="like.avatar" (click)="redirectToProfile(like)">
                </div>
                <div class="like-info">
                    <span class="like-name" (click)="redirectToProfile(like)">{{ like.name }}</span>
                    <span class="like-date">{{ like.time_ago }}</span>
                </div>
            </div>
        </div>
        <div class="no-likes" *ngIf="Likes.length === 0">
            <span class="no-likes-text">Aucun like pour le moment</span>
        </div>
    </div>
</div>