.profile-likes {
    background-color: var(--background-color-accent);
    border-radius: 10px;

    .title-container {
        padding: 20px;

        .title {
            font-size: 14px;
            font-weight: 550;
        }
    }

    .likes-container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        .no-likes {
            padding: 20px;
        }

        .like-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            border-top: solid 1px var(--color-separator);

            &:nth-last-child(1) {
                margin-bottom: 0px;
            }

            &:hover {
                cursor: pointer;
                background-color: #eeeaea;
            }

            .left-content {
                align-items: center;
                display: flex;

                .like-photo {
                    border-radius: 25px;
                    height: 50px;
                    width: 50px;
                    margin-right: 15px;
                }

                .like-info {
                    display: flex;
                    flex-direction: column;

                    .like-name {
                        font-weight: 550;
                    }

                    .like-date {
                        font-size: 14px;
                        color: var(--color-text-secondary);
                    }
                }
            }

            .heart-icon {
                fill: var(--color-pink-accent);
            }
        }
    }
}
