<form [formGroup]="CompleteForm">
	<div *ngIf="CurrentStep === 'name'">
	  <label for="name">Name</label>
	  <input type="text" id="name" formControlName="name">
	</div>
	<div *ngIf="CurrentStep === 'gender'">
		<label for="gender">Gender</label>
		<select id="gender" formControlName="gender">
		  <option [value]="gender" *ngFor="let gender of Genders">{{ gender }}</option>
		</select>
	  </div>
	  
	  <div *ngIf="CurrentStep === 'photo'">
		<label for="photo">Photo</label>
		<input type="file" name="photo" #fileInput (change)="selectFile($event)" />
		<!-- <input type="file" name="photo" id="photo" (change)="handleFileInput($event)"> -->
		<div class="photo-preview" *ngIf="Preview">
			<img [src]="Preview.url" alt="Uploaded Photo">
			<!-- <button (click)="removePhoto()">Remove</button> -->
		</div>
	</div>
	
	  
	<div *ngIf="CurrentStep === 'bio'">
	  <label for="bio">Bio</label>
	  <input type="text" id="bio" formControlName="bio">
	</div>
	<button (click)="nextStep()">Next</button>
  </form>
  