.photo-preview img {
	max-width: 400px; /* Adjust the size as needed */
	max-height: 400px; /* Adjust the size as needed */
  }

.tags-container {
	position: absolute;
	flex-wrap: wrap;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 0);
	display: flex;
	background-color: white;
	border-radius: 15px;
	width: 600px;
	padding: 20px;
	padding-bottom: 10px;
}


.tag-picked-container {
	position: absolute;
	flex-wrap: wrap;
	left: 50%;
	transform: translate(-50%, 0);
	display: flex;
	background-color: white;
	border-radius: 15px;
	width: 600px;
	padding: 20px;
	padding-bottom: 10px;
}