<div class="location-modal">
    <div class="top-content">
        <img class="location-img" src="assets/images/location.png">
    </div>
    <div class="bottom-content">
        <span class="title-container">
            <span class="title">Mise à jour de ta localisation</span>
            <svg-icon class="loading-icon" [Src]="LoadingIconUrl" [ContentStyle]="LoadingIconStyle"></svg-icon>
        </span>
        <div class="description-container">
            <span class="description">Pour t'aider à trouver des personnes près de chez toi, nous avons besoin de ta
                localisation. Merci d'accepter la demande de localisation si ce n'est pas déjà fait.</span>
        </div>
    </div>
</div>