.messages-page {
    display: flex;
    height: 85vh;
    padding-bottom: 10px;

    .left-content {
        width: 40%;
    }

    .right-content {
        width: 60%;
    }
}

@media screen and (max-width: 600px) {
    .messages-page {
        height: calc(86vh - 25px);
        .left-content {
            width: 100%;
        }
    }
}