#main-layout {
    padding: 10px 3%;
    padding-bottom: 0;
    background-color: var(--background-color);

    #app-content {
        width: 100%;
        display: flex;
        padding-top: 20px;

        .content-container {
            width: 100%;
        }

        .navbar-container {
            margin-right: 20px;
        }
    }
}

@media screen and (max-width: 600px) {
    #main-layout {
        #app-content {
            flex-direction: column;
        }
        padding-bottom: 40px;
    }
}