<div class="user-about">
    <span class="title">À propos</span>
    <div class="about-content" *ngIf="Profile && About">
        <div class="left-content">
            <div class="about-row">
                <span class="about-category">Originaire de:</span>
                <span>{{ About.from }}</span>
            </div>
            <div class="about-row">
                <span class="about-category">Fame rating:</span>
                <span>{{ Profile.fameRating }}</span>
            </div>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <div class="about-row">
                <span class="about-category">Métier:</span>
                <span>{{ About.job }}</span>
            </div>
            <div class="about-row">
                <span class="about-category">Etudes:</span>
                <span>{{ About.studies }}</span>
            </div>
            <div class="about-row">
                <span class="about-category">Langues:</span>
                <span>{{ About.languages }}</span>
            </div>
        </div>
        <div class="right-content">
            <div class="about-row">
                <span class="about-category">Genre:</span>
                <span>{{ getGender() }}</span>
            </div>
            <div class="about-row">
                <span class="about-category">Orientation:</span>
                <span>{{ getOrientation()}}</span>
            </div>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <div class="about-row">
                <span class="about-category">Fume:</span>
                <span>{{ About.smoking }}</span>
            </div>
            <div class="about-row">
                <span class="about-category">Alcool:</span>
                <span>{{ About.drinking }}</span>
            </div>
            <div class="about-row">
                <span class="about-category">Drogue:</span>
                <span>{{ About.drugs }}</span>
            </div>
        </div>
    </div>
</div>