<div class="user-about">
    <span class="title">À propos</span>
    <div class="about-content">
        <div class="left-content">
            <table>
                <tr>
                    <td class="about-category">Habite:</td>
                    <td>Lyon</td>
                </tr>
                <tr>
                    <td class="about-category">Originaire de:</td>
                    <td>Aurillac, Cantal</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="about-category">Métier:</td>
                    <td>Ingénieur</td>
                </tr>
                <tr>
                    <td class="about-category">Études:</td>
                    <td>42 Lyon</td>
                </tr>
                <tr>
                    <td class="about-category">Langues:</td>
                    <td>Français, Anglais</td>
                </tr>
            </table>
        </div>
        <div class="right-content">
            <table>
                <tr>
                    <td class="about-category">Situation:</td>
                    <td>Célibataire</td>
                </tr>
                <tr>
                    <td class="about-category">Orientation:</td>
                    <td>Hétérosexuel</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="about-category">Fume:</td>
                    <td>Oui</td>
                </tr>
                <tr>
                    <td class="about-category">Alcool:</td>
                    <td>Occasionnellement</td>
                </tr>
                <tr>
                    <td class="about-category">Drogue:</td>
                    <td>Non</td>
                </tr>
            </table>
        </div>
    </div>
</div>