<div class="complete-infos">
    <div class="items-container">
        <div class="select-item">
            <div class="title-container">
                <span class="title">Comment veux tu qu'on t'appelle ?</span>
            </div>
            <div class="validation-input-container">
                <div class="input-container">
                    <matcha-input [(Value)]="Name" Placeholder="Choisis un nom"></matcha-input>
                </div>
                <validate-button [Disabled]="!Name" (OnClick)="submitName()"></validate-button>
            </div>
        </div>
        <div *ngIf="Step >= 1" class="select-item appear">
            <div class="title-container">
                <span class="title">Présente toi en quelques mots</span>
            </div>
            <div class="validation-input-container">
                <div class="input-container">
                    <matcha-textarea [(Value)]="Bio" Placeholder="Ta bio"></matcha-textarea>
                </div>
                <validate-button [Disabled]="!Bio" (OnClick)="submitBio()"></validate-button>
            </div>
        </div>
        <div *ngIf="Step >= 2" class="select-item appear">
            <div class="title-container">
                <span class="title">Tiens 🖕</span>
            </div>
        </div>
    </div>
</div>