.login-form-container {
    padding: 20px;
    border-radius: 15px;
    width: 400px;

    background-color: var(--background-color-accent);

    .login-form-head {
        display: flex;
        align-items: center;
        flex-direction: column;

        .logo-container {
            display: flex;
            align-items: center;

            font-weight: 550;
            color: var(--title-color);

            .app-title {
                padding: 0px 5px;
            }

            .heart-icon {
                fill: var(--title-color);
            }
        }

        .title-container {
            padding: 20px;
            font-size: 22px;
            font-weight: 550;
        }
    }

    .login-form {
        display: flex;
        flex-direction: column;

        padding: 0px 50px;

        .input-container {
            padding-bottom: 10px;
        }

        .error-message {
            padding-left: 10px;
            font-size: 12px;
            color: red;
        }

        .invalid-credentials {
            padding: 7px 10px;
            background-color: var(--color-pink-background);
            border-radius: 10px;
            border: solid 1px red;
        }

        .actions {
            display: flex;
            justify-content: center;
            padding-top: 10px;
        }
    }
}

@media screen and (max-width: 460px) {
    .login-form-container {
        width: 300px;

        .login-form {
            padding: 0px 30px;
        }
    }
}
