<div class="login-form-container">
    <div class="login-form-head">
        <div class="logo-container">
            <svg-icon class="heart-icon" [Src]="HeartIconUrl" [ContentStyle]="HeartIconStyle"></svg-icon>
            <span class="app-title">Matcha</span>
        </div>
        <div class="title-container">
            <span class="form-title">Se connecter</span>
        </div>
    </div>
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onLogin()">

        <div class="input-container">
            <matcha-input Type="text" Placeholder="Username" Name="username" [FormGroup]="loginForm"
                [HasError]="HasErrors && loginForm.get('username')?.invalid"></matcha-input>
            <div class="error-message" *ngIf="HasErrors && loginForm.get('username')?.invalid">
                {{getErrorMessage('username')}}
            </div>
        </div>

        <div class="input-container">
            <matcha-input Type="password" Placeholder="Password" Name="password" [FormGroup]="loginForm"
                [HasError]="HasErrors && loginForm.get('password')?.invalid"></matcha-input>
            <div class="error-message" *ngIf="HasErrors && loginForm.get('password')?.invalid">
                {{getErrorMessage('password')}}
            </div>
        </div>


        <div *ngIf="InvalidCredentials" class="error-message invalid-credentials">
            <span>Nom d'utilisateur ou mot de passe incorrect</span>
        </div>

        <div class="actions">
            <matcha-button Type="submit" [Disabled]="IsLoading" Label="Connection"></matcha-button>
        </div>
    </form>
    <div class="register-button-container">
        <span>Pas encore de compte ? <a class="register-button" routerLink="/register">inscription</a></span>
    </div>
</div>