.complete-profile {
    height: 100%;
    background-color:  white;

    .app-title-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        color: var(--title-color);
        width: 100%;

        .heart-icon {
            fill: var(--title-color);
            margin-right: 10px;
        }

        .app-title {
            font-size: 28px;
            font-weight: 550;
        }
    }

    .stepper {
        height: calc(100% - 80px);
    }
}