<div class="register-form-container">
	<div class="register-form-head">
		<div class="logo-container">
			<svg-icon class="heart-icon" [Src]="HeartIconUrl" [ContentStyle]="HeartIconStyle"></svg-icon>
			<span class="app-title">Matcha</span>
		</div>
		<div class="title-container">
			<span class="form-title">Créer un compte</span>
		</div>
	</div>
	<form class="register-form" [formGroup]="registerForm" (ngSubmit)="onRegister()">

		<div class="register-row register-line">
			<div class="register-column">
				<matcha-input [HasError]="HasErrors" [FormGroup]="registerForm" Name="firstname"
					Title="Prénom"></matcha-input>
			</div>
			<div class="register-column">
				<matcha-input [HasError]="HasErrors" [FormGroup]="registerForm" Name="lastname"
					Title="Nom"></matcha-input>
			</div>
		</div>

		<div class="register-line">
			<matcha-input [HasError]="HasErrors" [FormGroup]="registerForm" Name="username"
				Title="Nom d'utilisateur"></matcha-input>
		</div>

		<div class="register-line">
			<matcha-input Type="email" [HasError]="HasErrors" [FormGroup]="registerForm" Name="email"
				Title="Email"></matcha-input>
		</div>


		<div class="register-line">
			<matcha-input Type="password" [HasError]="HasErrors" [FormGroup]="registerForm" Name="password"
				Title="Mot de passe"></matcha-input>
		</div>

		<div class="register-line">
			<div class="birth-date-container">
				<span class="birth-date">Date de naissance</span>
				<input class="birth-date-input" type="date" placeholder="birth_date" formControlName="birth_date">
			</div>
		</div>

		<div *ngIf="Errors.length > 0" class="error-message invalid-form">
			<span *ngFor="let error of Errors">{{ error }}</span>
		</div>

		<div class="actions">
			<matcha-button Label="Inscription" [Disabled]="IsLoading" Type="submit"></matcha-button>
		</div>
	</form>
	<div class="login-button-container">
		<span>Déjà inscrit ? <a class="login-button" routerLink="/login">connection</a></span>
	</div>
</div>