.register-form-container {
    padding: 20px;
    padding-bottom: 10px;
    border-radius: 15px;
    width: 400px;

    background-color: var(--background-color-accent);

    .register-form-head {
        display: flex;
        align-items: center;
        flex-direction: column;

        .logo-container {
            display: flex;
            align-items: center;

            font-weight: 550;
            color: var(--title-color);

            .app-title {
                padding: 0px 5px;
            }

            .heart-icon {
                fill: var(--title-color);
            }
        }

        .title-container {
            padding: 20px;
            font-size: 22px;
            font-weight: 550;
        }
    }

    .register-form {

        .register-row {
            display: flex;

            .register-column {
                &:first-child {
                    margin-right: 10px;
                }

                flex: 1;
            }
        }

        .register-line {
            margin-bottom: 10px;

            .birth-date-container {
                display: flex;
                flex-direction: column;

                .birth-date {
                    margin: 0px 5px;
                    color: var(--title-color);
                    font-weight: 550;
                    font-size: 14px;
                }

                .birth-date-input {
                    margin-top: 5px;
                    border: solid 1px var(--color-pink-background);
                    border-radius: 20px;
                    padding: 7px 12px;

                    &:focus {
                        outline: none;
                    }
                }
            }
        }

        .error-message {
            padding-left: 10px;
            font-size: 12px;
            color: red;
        }

        .invalid-form {
            padding: 7px 10px;
            background-color: var(--color-pink-background);
            border-radius: 10px;
            border: solid 1px red;
            display: flex;
            flex-direction: column;
        }

        .actions {
            display: flex;
            justify-content: center;
            padding-top: 10px;
        }
    }

    .login-button-container {
        padding-top: 15px;
        text-align: center;
        color: var(--color-text-primary);
        font-size: 10px;

        .login-button {
            text-decoration: none;
            color: var(--title-color);
        }
    }
}

@media screen and (max-width: 460px) {
    .register-form-container {
        width: 300px;

        .register-form {
            padding: 0px 30px;
        }
    }
}