<div class="actions-menu">
    <div class="menu-item" (click)="onBlock()">
        <svg-icon class="menu-icon" [Src]="IconBlockUrl" [ContentStyle]="IconStyle"></svg-icon>
        <span>Bloquer</span>
    </div>
    <div class="menu-item report-button" (click)="onReport()">
        <svg-icon class="menu-icon" [Src]="IconFlagUrl" [ContentStyle]="IconStyle"></svg-icon>
        <span>Signaler</span>
    </div>
    <div *ngIf="AllowUnmatch" class="menu-item" (click)="onUnmatch()">
        <svg-icon class="menu-icon unmatch-icon" [Src]="IconBrokenHeartUrl" [ContentStyle]="IconStyle"></svg-icon>
        <span>Unmatch</span>
    </div>
</div>