.search-page {
    display: flex;

    .left-content {
        margin: 0px 15px 20px 0px;
        width: 70%;
    }

    .right-content {
        width: 30%;
        height: 86vh;
    }
}

@media screen and (max-width: 1050px) {
    .search-page {
        flex-direction: column-reverse;

        .left-content {
            width: 100%;
            margin-right: 0px;
        }

        .right-content {
            width: 100%;
            height: auto;
            margin-bottom: 15px;
        }
    }
}