.notifications-list {
    background-color: var(--background-color-accent);
    border-radius: 15px;
    .notifications-container {
        max-height: 75vh;
        overflow-y: auto;
    }
    

    .title-container {
        padding: 20px;

        .title {
            font-weight: 550;
        }
    }

    .no-notifications {
        border-top: solid 1px var(--color-separator);
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;

        .text {
            font-size: 20px;
            font-weight: 550;
            color: var(--color-text-secondary);
        }
    }
}