<div class="select-modal">
    <div class="modal-head">
        <span class="title">Sélectionne des tags</span>
        <div class="close-button" matRipple>
            <svg-icon [Src]="CloseIconUrl" [ContentStyle]="IconStyle" (click)="handleClose()"></svg-icon>
        </div>
    </div>
    <interest-tags-selector [SelectedTags]="data.SelectedTags" (SelectedTagsChange)="handleSelectedTagsChange($event)"></interest-tags-selector>
    <div class="actions-container">
        <matcha-button Label="Valider" (OnClick)="handleSubmit()"></matcha-button>
    </div>
</div>