.select-modal {
    padding: 20px;

    .modal-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        .title {
            font-size: 20px;
            font-weight: 550;
        }

        .close-button {
            border-radius: 50%;
            cursor: pointer;
            padding: 5px;
            &:hover {
                background-color: #ebebebc9;
            }
        }
    }
    .actions-container {
        margin-top: 20px;
        display: flex;
        justify-content: flex-end;
    }
}