<div class="search-filters">
    <div class="title-container" (click)="toggleExpand()">
        <div *ngIf="IsMobileView" class="expand-button" [class.expand]="IsExpand">
            <svg-icon class="expand-icon" [Src]="IconExpandUrl" [ContentStyle]="IconExpandStyle"></svg-icon>
        </div>
        <span class="title">Filtres</span>
    </div>
    <div class="filters-body" *ngIf="IsExpand || !IsMobileView">
        <span class="filter-name">Tranche d'âge: {{ Filters.MinAge }} - {{ formatAgeLabel(Filters.MaxAge) }}</span>
        <mat-slider min="18" max="60" discrete [displayWith]="formatAgeLabel" (change)="handleFiltersUpdate()">
            <input [(value)]="Filters.MinAge" matSliderStartThumb>
            <input [(value)]="Filters.MaxAge" matSliderEndThumb>
        </mat-slider>

        <span class="filter-name">Distance max: {{ formatDistanceLabel(Filters.DistanceRange) }}</span>
        <mat-slider min="0" max="1000" discrete [displayWith]="formatDistanceLabel" (change)="handleFiltersUpdate()">
            <input [(value)]="Filters.DistanceRange" matSliderThumb>
        </mat-slider>

        <span class="filter-name">Fame rating: {{ Filters.MinFameRating }} - {{ Filters.MaxFameRating }}</span>
        <mat-slider min="0" max="10" discrete (change)="handleFiltersUpdate()">
            <input [(value)]="Filters.MinFameRating" matSliderStartThumb>
            <input [(value)]="Filters.MaxFameRating" matSliderEndThumb>
        </mat-slider>

        <div class="tags-title-container">
            <span class="filter-name">Tags:</span>
            <select-tags-button [SelectedTags]="Filters.Tags"
                (SelectedTagsChange)="setTags($event)"></select-tags-button>
        </div>
        <div class="tags-container">
            <div *ngFor="let tag of Filters.Tags">
                <interest-tag [Tag]="tag"></interest-tag>
            </div>
        </div>
        <span class="filter-name">Order by:</span>
        <div class="sort-container">
            <button [ngClass]="{'selected': Filters.OrderBy === OrderByEnum.Distance}"
                (click)="setOrderBy(OrderByEnum.Distance)">Distance</button>
            <button [ngClass]="{'selected': Filters.OrderBy === OrderByEnum.Youngest}"
                (click)="setOrderBy(OrderByEnum.Youngest)">Youngest</button>
            <button [ngClass]="{'selected': Filters.OrderBy === OrderByEnum.Oldest}"
                (click)="setOrderBy(OrderByEnum.Oldest)">Oldest</button>
            <button [ngClass]="{'selected': Filters.OrderBy === OrderByEnum.CommonTags}"
                (click)="setOrderBy(OrderByEnum.CommonTags)">Common tags</button>
            <button [ngClass]="{'selected': Filters.OrderBy === OrderByEnum.FameRating}"
                (click)="setOrderBy(OrderByEnum.FameRating)">Fame rating</button>
        </div>
    </div>
</div>