<div class="user-list" *ngIf="profiles$ | async as profiles">
    <div class="items-container">
        <div *ngIf="profiles.length === 0" class="empty-container">
            <img src="https://media.tenor.com/h1jmVbHLV6QAAAAM/vincent.gif" alt="">
            <span class="empty-text">Aucun résultat</span>
        </div>
        <div *ngFor="let user of profiles" class="user-item">
            <div class="user-photo-container">
                <img class="user-photo" [src]="(user.avatar | async) || defaultAvatar">
            </div>
            <div class="user-infos">
                <a [routerLink]="'/profile/' + user.id" class="user-name">{{ user.name }}, {{ user.age }}</a>
                <span class="user-bio">{{ user.bio }}</span>
            </div>
        </div>
    </div>
</div>
