.add-photo-button {
    height: 100%;
    width: 100%;
    background-color: rgba(225, 225, 225, 0.648);
    border-radius: 15px;

    .add-icon {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}