.title {
    color: var(--title-color);
    margin-left: 10px;
    font-size: 14px;
    font-weight: 550;
}

.matcha-input-container {

    background-color: white;
    border: solid 1px var(--color-pink-background);
    border-radius: 20px;

    display: flex;
    align-items: center;

    
    &.error {
        border: solid 1px red;
    }
    
    .matcha-input {
        padding: 7px 12px;
        border: none;
        background-color: inherit;
        color: var(--color-text-primary);
        border-radius: 20px;

        width: 100%;

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: var(--color-pink-accent);
        }
    }

    .password-icon {
        margin-right: 5px;
    }
}