.matcha-input-container {

    background-color: white;
    border: solid 1px var(--color-pink-background);
    border-radius: 20px;
    width: 100%;

    display: flex;
    align-items: center;

    .matcha-input {
        border: none;
        background-color: inherit;
        color: var(--color-text-primary);
        border-radius: 20px;
        padding: 7px;
        padding-left: 5px;

        width: 100%;

        margin-left: 10px;

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: var(--color-pink-accent);
        }
    }
}