.matcha-input-container {

    background-color: white;
    border: solid 1px var(--color-pink-background);
    border-radius: 20px;
    width: 100%;

    display: flex;
    align-items: center;

    padding: 7px 12px;

    .matcha-input {
        border: none;
        background-color: inherit;
        color: var(--title-color);
        border-radius: 20px;

        width: 100%;

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: var(--color-pink-accent);
        }
    }
}