#footer {
    background-color: var(--background-color-accent);
    padding: 5px;
    text-align: center;
    font-size: 14px;
    border-radius: 15px;

    .intra-link {
        color: var(--color-pink-accent);
        text-decoration: none;
    }
}