* {
    --tag-background-color: #f2e9e7;
    --tag-text-color: #f36a7b;
}

.interest-tag-container {
    margin-right: 7px;
    margin-top: 10px;
    padding: 5px 8px;
    background-color: var(--tag-background-color);
    border-radius: 7px;

    .interest-tag {
        color: var(--tag-text-color);
        font-size: 12px;
    }
}

@media screen and (max-width: 600px) {
    .interest-tag-container {
        margin-right: 3px;
        margin-top: 5px;
        padding: 2px 6px;

        .interest-tag {
            font-size: 10px;
        }
    }
}