<div class="settings-form">
    <div class="form-section">
        <span class="title">Profil</span>
    </div>
    <div class="settings-row settings-line">
        <div class="settings-column">
            <matcha-input Title="Prénom"></matcha-input>
        </div>
        <div class="settings-column">
            <matcha-input Title="Nom"></matcha-input>
        </div>
    </div>
    <div class="settings-line">
        <matcha-input Title="Email" [Value]="Email"></matcha-input>
    </div>
    <div class="settings-line">
        <matcha-textarea Title="Bio" [Value]="Profile.bio"></matcha-textarea>
    </div>
    <div class="form-section">
        <span class="title">Tags</span>
    </div>
    <div class="form-section">
        <span class="title">Photos</span>
    </div>
    <user-photos [IsEdit]="true"></user-photos>
    <div class="form-section">
        <span class="title">Localisation</span>
    </div>
</div>