<div class="settings-form" *ngIf="!Loading">
    <div class="form-section">
        <span class="title">Profil</span>
    </div>
    <div class="settings-row settings-line">
        <div class="settings-column">
            <matcha-input Title="Prénom" [Value]="Account.firstname" [FormGroup]="FormGroup" [HasError]="true"
                Name="firstName" (OnFocusOut)="handleFirstNameChanged($event)"></matcha-input>
        </div>
        <div class="settings-column">
            <matcha-input Title="Nom" [Value]="Account.lastname" [FormGroup]="FormGroup" [HasError]="true"
                Name="lastName" (OnFocusOut)="handleLastNameChanged($event)"></matcha-input>
        </div>
    </div>
    <div class="settings-line">
        <matcha-input [FormGroup]="FormGroup" [HasError]="true" Name="email" Title="Email" [Value]="Account.email"
            (OnFocusOut)="handleEmailChanged($event)"></matcha-input>
    </div>
    <div class="settings-row settings-line">
        <div class="settings-column">
            <matcha-input [FormGroup]="FormGroup" [HasError]="true" Name="userName" Title="Nom d'utilisateur"
                [Value]="Account.username" (OnFocusOut)="handleUserNameChanged($event)"></matcha-input>
        </div>
        <div class="settings-column">
            <matcha-input [FormGroup]="FormGroup" [HasError]="true" Name="displayName" Title="Nom affiché"
                [Value]="Profile.name" (OnFocusOut)="handleDisplayNameChanged($event)"></matcha-input>
        </div>
    </div>
    <div class="settings-line">
        <matcha-textarea Title="Bio" [FormGroup]="FormGroup" [HasError]="true" Name="bio" [Value]="Profile.bio"
            (OnFocusOut)="handleBioChanged($event)"></matcha-textarea>
    </div>

    <ng-container *ngIf="About">
        <div class="form-section">
            <span class="title">Détails</span>
        </div>
        <div class="settings-row settings-line">
            <div class="settings-column">
                <matcha-input [FormGroup]="FormGroup" [HasError]="true" Name="from" Title="D'ou viens tu ?"
                    [Value]="About.from" (OnFocusOut)="handleFromChanged($event)"></matcha-input>
            </div>
            <div class="settings-column">
                <matcha-input [FormGroup]="FormGroup" [HasError]="true" Name="job" Title="Quel est ton métier ?"
                    [Value]="About.job" (OnFocusOut)="handleJobChanged($event)"></matcha-input>
            </div>
        </div>
        <div class="settings-row settings-line">
            <div class="settings-column">
                <matcha-input [FormGroup]="FormGroup" [HasError]="true" Name="studies" Title="Quelles études as tu faites ?"
                    [Value]="About.studies" (OnFocusOut)="handleStudiesChanged($event)"></matcha-input>
            </div>
            <div class="settings-column">
                <matcha-input [FormGroup]="FormGroup" [HasError]="true" Name="languages" Title="Quelles langues parle tu ?"
                    [Value]="About.languages" (OnFocusOut)="handleLanguagesChanged($event)"></matcha-input>
            </div>
        </div>
        <div class="settings-row settings-line">
            <div class="settings-column">
                <matcha-input [FormGroup]="FormGroup" [HasError]="true" Name="smoking" Title="Fume tu ?"
                    [Value]="About.smoking" (OnFocusOut)="handleSmokingChanged($event)"></matcha-input>
            </div>
            <div class="settings-column">
                <matcha-input [FormGroup]="FormGroup" [HasError]="true" Name="drugs" Title="Consomme tu de la drogue ?"
                    [Value]="About.drugs" (OnFocusOut)="handleDrugsChanged($event)"></matcha-input>
            </div>
        </div>
        <div class="settings-row settings-line">
            <div class="settings-column">
                <matcha-input [FormGroup]="FormGroup" [HasError]="true" Name="drinking" Title="Bois tu de l'alcool ?"
                    [Value]="About.drinking" (OnFocusOut)="handleDrinkingChanged($event)"></matcha-input>
            </div>
        </div>
    </ng-container>

    <div class="form-section">
        <span class="title">Avatar</span>
    </div>
    <div class="avatar-edit">
        <avatar-edit [Src]="Profile.avatar"></avatar-edit>
    </div>
    <div class="form-section">
        <span class="title">Tags</span>
        <div class="tags-list-container">
            <div class="edit-button-container">
                <div class="select-tags-button" (click)="openTagsSelectionModal()" matRipple>
                    <span>Modifier</span>
                    <svg-icon class="edit-icon" [Src]="IconEditUrl" [ContentStyle]="IconStyle"></svg-icon>
                </div>
            </div>
            <interest-tags-list [Tags]="Profile.tags"></interest-tags-list>
        </div>
    </div>
    <div class="form-section">
        <span class="title">Photos</span>
    </div>
    <user-photos [IsEdit]="true" [Profile]="Profile"></user-photos>
    <div class="form-section">
        <span class="title">Orientation</span>
        <div class="validation-input-container">
            <div class="input-container">
                <button-choices [Items]="OrientationItems" [DefaultItem]="getSelectedOrientationItem()"
                    (OnSelect)="updateOrientation($event)"></button-choices>
            </div>
            <validate-button (OnClick)="submitOrientation()"></validate-button>
        </div>
    </div>
    <div class="form-section">
        <span class="title">Genre</span>
        <div class="validation-input-container">
            <div class="input-container">
                <button-choices [Items]="GenderChoices" [DefaultItem]="getSelectedGenderItem()"
                    (OnSelect)="updateGender($event)"></button-choices>
            </div>
            <validate-button [Disabled]="!Gender" (OnClick)="submitGender()"></validate-button>
        </div>
    </div>
    <div class="form-section">
        <span class="title">Localisation</span>
        <div class="button-container">
            <matcha-button Label="Mettre à jour" (OnClick)="handleLocateClick()"></matcha-button>
        </div>
    </div>
</div>