.settings-form {
    width: 800px;

    .form-section {
        padding: 20px 0px;

        .title {
            font-size: 20px;
            font-weight: 550;
        }

        .tags-list-container {
            margin-top: 20px;
            padding: 20px;
            padding-top: 10px;
            background-color: var(--background-color-accent);
            border-radius: 15px;

            .edit-button-container {
                display: flex;

                .select-tags-button {
                    display: flex;
                    align-items: center;
                    width: fit-content;
                    border-radius: 5px;
                    padding: 2px 7px;

                    .edit-icon {
                        margin-left: 5px;
                    }

                    &:hover {
                        cursor: pointer;
                        background-color: #ebebebc9;
                    }
                }
            }
        }

        .button-container {
            margin-top: 20px;
        }
    }

    .settings-row {
        display: flex;

        .settings-column {
            &:first-child {
                margin-right: 10px;
            }

            flex: 1;
        }
    }

    .settings-line {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 1050px) {
    .settings-form {
        width: 600px;
    }
}

@media screen and (max-width: 850px) {
    .settings-form {
        width: 550px;
    }
}

@media screen and (max-width: 600px) {
    .settings-form {
        width: 400px;
    }
}