* {
    --selected-color: #f44a5d;
}

#navbar {
    display: flex;
    flex-direction: column;
    font-family: 'Inconsolata';

    margin-top: 10px;

    a {
        text-decoration: none;
        color: var(--text-color-primary);
    }

    .navbar-button {
        display: flex;
        align-items: center;
        padding: 15px;
        font-size: 20px;

        &:hover {
            background-color: #ded5d7;
            border-radius: 40px;
        }

        cursor: pointer;

        .navbar-icon {
            margin-right: 15px;
        }

        .unread-messages-count {
            background-color: #b3d6ac;
            padding: 4px 10px;
            border-radius: 6px;
            font-weight: 600;
            margin-left: 10px;
            font-size: 12px;
            color: black;
        }

        .unread-notifications {
            background-color: var(--title-color);
            color: white;
            position: absolute;
            height: 12px;
            width: 12px;
            border-radius: 50%;
            font-size: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: translate(9px, -6px);
        }

        &.selected {
            color: var(--selected-color);

            .navbar-icon {
                fill: var(--selected-color);
            }
        }
    }
}

@media screen and (max-width: 600px) {
    #navbar {
        position: fixed;
        bottom: 0;
        left: 0;
        flex-direction: row;
        background-color: var(--background-color-navbar);
        width: 100%;
        justify-content: center;

        .navbar-button {
            padding: 15px 30px;
            .navbar-details {
                display: none;
            }
        }
    }
}