* {
    --title-color: #f44e63;
}

#header {
    height: 60px;
    border-radius: 30px;
    background-color: var(--background-color-accent);

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0px 20px;

    .left-content {
        display: flex;
        align-items: center;

        .title-container {
            display: flex;
            align-items: center;

            font-weight: 550;
            color: var(--title-color);
            margin-right: 100px;
            margin-left: 14px;

            .app-title {
                padding: 0px 5px;
            }

            .heart-icon {
                fill: var(--title-color);
            }
        }
    }

    .right-content {

        .avatar-container {

            margin-left: 10px;
            height: 35px;
            border-radius: 50%;
            cursor: pointer;

            .user-avatar {
                border-radius: 50%;
                width: 35px;
                height: 35px;
            }
        }
    }
}