<div id="header">
    <div class="left-content">
        <div class="title-container">
            <svg-icon class="heart-icon" [Src]="HeartIconUrl" [ContentStyle]="HeartIconStyle"></svg-icon>
            <span class="app-title">Matcha</span>
        </div>
    </div>
    <div class="right-content">
        <div class="avatar-container" matRipple [matMenuTriggerFor]="settingsMenu">
            <img class="user-avatar" [src]="AvatarUrl" alt="">
        </div>
    </div>
</div>

<mat-menu #settingsMenu xPosition="before">
    <settings-menu></settings-menu>
</mat-menu>